$font-serif: "NotoSerif", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "游明朝体", "Yu Mincho", YuMincho, "MS P明朝",
	"MS PMincho", serif;
$font-sans-serif: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, "ＭＳ ゴシック", "MS PGothic",
	arial, helvetica, sans-serif;
$font-futura: "Futura", "sans-serif";


$breakpoint-lagre: 1920px;
$breakpoint-pc: 961px;
$breakpoint-md: 960px;


$clr-base: #FFFFFF;
$clr-base-bg: #E6F0C7;
$clr-bg: #ffffff;
$clr-base-font: #000000;
$clr-text: #3C3C3C;
$clr-box: #EFEFEF;
$clr-txt: #83CCD5;
$clr-tlt: #D1E3AD;
$clr-date: #ACACAC;
$clr-cats-txt01: #A0C333;
$clr-cats-txt02: #EDB638;
$clr-cats-txt03: #E05B20;
$clr-cats-txt04: #2080E0;
$clr-box_more: #E5AD2C;
$clr-item-plan01: #7CB1EF;
$clr-item-plan02: #E5AD2C;
$clr-tlt-plan: #A0C333;
$clr-dots: #E2C074;
$clr-note01: #397FEF;
$clr-note02: #FDB72B;
$clr-txt_bottom: #F4F886;
$clr-text-color: #FFA8EB;
$clr-maps: #E7FAF8;
$clr-ranking: #F2F2F2;
$clr-bg-cats01: #848D69;
$clr-bg-cats02: #426DB2;
$clr-bg-cats03: #AD4A4A;
$clr-bg-cats04: #9F7E35;
$clr-bg-cats05: #69898D;
$clr-bg-cats06: #83528E;
$clr-box-girl: #D3E0F5;
$clr-item-border-girl01: #FFB4FF;
$clr-item-border-girl02: #86B2F8;
$clr-item-border-girl03: #A1EDAD;
$clr-item-border-girl04: #CAACE0;
$clr-item-border-girl05: #FDD272;
$clr-dots-tlt: #F8B2F8;
$clr-copyright: #FAF4E7;
$clr-footer-date: #A3AF80;
$clr-border-tlt: #C6EF46;
$clr-header-active : #82A21E;
$clr-sub-tlt-section : #C49730;
$clr-coating: #faf4e8;
$clr-text-about: #5B6E22;
$clr-text-abouth2: #3C3C3C;
$clr-note_cast_01: #50a6ba;
$clr-note_cast_02: #A0C333;
$clr-note_cast_03: #397FEF;
$clr-note_cast_04: #FDB72B;
$clr-text-introh3: #912F12;
$clr-text-introspan: #B54422;

$ease-inout: ease-in-out;
$ease-liner: linear;
$ease-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$ease-cubic-out: cubic-bezier(0.915, 0.030, 0.910, 0.350);
